<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

 <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
      <add key="AppName" value="Mind IT Interne Test"/>
    
   
      <add key="emailDisplayHeader" value="People Team | Mind IT Systems"/>
      <add key="deductleavevariable" value="1"/>
      
      <add key="dateformat" value="dd-MMM-yyyy"/>
      <add key="url" value="http://13.127.29.196/Interne/amsApp/Login.aspx"/>
      
   
      <add key="GetUserBalApi" value="http://35.154.113.217/" />
    <add key="ApiFolderName" value="ExpenseManagementSystem/ExpenseApi" />
   
   <add key="ApplicationName" value=" |Prabhat
Expense Mgmt System" />
         <add key="ApplicationUrl" value="" />
    <add key="LowBalUrl" value="" />
 
  
      <add key="SendEmailService" value="http://13.127.29.196/Interne/SendEmailApi/SendEmailService.svc/EmailSend" />
      
    </appSettings>

</configuration>